.col-container {
  background-color: #e5e5e5;
  border-radius: 3px;
  max-width: 272px;
  min-width: 272px;
  width: 100%;
  height: min-content;
  min-height: 82px;
}

.col-title-container {
  display: flex;
  justify-content: center;
  padding: 10px 36px;
  font-weight: bold;
}
